apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  labels:
    app: todo-frontend
spec:
  selector:
    app: todo-frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 30000
  type: LoadBalancer 